extends layout

block content
  header
    h1 City Images
    h3 What a city actually looks like instantly
    form
      label(for="location")
      input(id="address", name="address", placeholder="location")
      input(type="submit" id="submitBtn" value="submit")
      p #{data.address}

  .container
    for url in data.urls
      img(src=url) 

